<div class="pub-entry" style="margin-bottom: 30px;">
  {% if post.image %}
    <img src="{{ post.image | relative_url }}" alt="publication image" style="width:250px; float:left; margin-right:15px; border-radius:8px; box-shadow:0 2px 6px rgba(0,0,0,0.1);">
  {% endif %}
  
  <h3><a href="{{ post.paperurl }}">{{ post.title }}</a></h3>
  <p><strong>{{ post.authors }}</strong><br>
  {{ post.venue }}<br>
  {{ post.date | date: "%B %Y" }}</p>
  <p>{{ post.excerpt }}</p>
  
  <div style="clear: both;"></div>
</div>
<hr>
